@charset "UTF-8";
body a {
  text-decoration: none;
}
body .banniere {
  display: inline-block;
  position: relative;
  width: 100%;
}
body .banniere img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}
body .banniere h1 {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 1;
}
body .banniere h1 .titre {
  width: 70%;
  height: auto;
}

#site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  box-shadow: 10px 10px 30px #f1f1f1;
  z-index: 0;
}
#site-header img {
  width: 216px;
  height: 14px;
}
#site-header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
#site-header ul li a {
  color: #000000 !important;
  font-family: "Space Mono";
  margin-right: 30px;
  text-transform: uppercase;
}

/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
#myModal .container {
  background-color: #ffffff;
  border: solid;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 769px;
}
#myModal .container img {
  width: 100%;
  object-fit: cover;
  margin: 0;
}
#myModal .container form {
  width: 263px;
  margin: auto;
}
#myModal .container form label {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
}
#myModal .container form input {
  border: solid 1px #b8bbc2;
  border-radius: 10px;
}
#myModal .container form p {
  margin: 20px 0;
}
#myModal .container form > p:nth-child(6) > input {
  width: 100%;
  background-color: #d8d8d8;
  color: #000000;
  font-family: "space monospace";
  font-size: 16px;
  border: none;
}

.post {
  display: flex;
  justify-content: space-evenly;
}
.post img {
  width: 40%;
  height: 844px;
  object-fit: cover;
}
.post .post__meta {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: solid 2px;
  width: 50%;
  padding-bottom: 2%;
}
.post .post__meta h2 {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  font-size: 66px;
  line-height: 58px;
  margin: 0;
}
.post .post__meta h3 {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  margin: 10px 0;
}
.post .post__meta h3 a {
  color: #000000 !important;
}

.post-interesting {
  display: flex;
  margin: 3%;
}
.post-interesting .post-contact {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.post-interesting .post-contact button {
  background-color: #d8d8d8;
  width: 272px;
  height: 50px;
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  gap: 10px;
  color: #000000;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
}
.post-interesting .post-contact button:hover {
  text-decoration: none;
}
.post-interesting .post-contact #myModal_single_post {
  display: none; /* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.post-interesting .post-contact #myModal_single_post .container_single_post {
  background-color: #ffffff;
  border: solid;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 769px;
}
.post-interesting .post-contact #myModal_single_post .container_single_post img {
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.post-interesting .post-contact #myModal_single_post .container_single_post form {
  width: 263px;
  margin: auto;
}
.post-interesting .post-contact #myModal_single_post .container_single_post form label {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
}
.post-interesting .post-contact #myModal_single_post .container_single_post form input {
  border: solid 1px #b8bbc2;
  border-radius: 10px;
}
.post-interesting .post-contact #myModal_single_post .container_single_post form p {
  margin: 20px 0;
}
.post-interesting .post-contact #myModal_single_post .container_single_post form > p:nth-child(6) > input {
  width: 100%;
  background-color: #d8d8d8;
  color: #000000;
  font-family: "space monospace";
  font-size: 16px;
  border: none;
}
.post-interesting .prochain {
  width: 50%;
  display: flex;
  justify-content: end;
}
.post-interesting .prochain .nav-links {
  display: flex;
  flex-direction: column-reverse;
}
.post-interesting .prochain .nav-links img {
  margin-top: 20px;
}
.post-interesting .prochain .nav-links .nav-previous {
  position: absolute;
  right: 3%;
}

.post-loving {
  margin: 3%;
  border-top: solid 2px;
}
.post-loving h3 {
  font-family: "Space Mono";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}
.post-loving .other_post {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.post-loving .other_post img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}

.other_post_contact {
  text-align: center;
}
.other_post_contact button {
  background-color: #d8d8d8;
  width: 272px;
  height: 50px;
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  gap: 10px;
  color: #000000;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  margin: 50px 0 70px 0;
}
.other_post_contact button:hover {
  text-decoration: none;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .post {
    flex-direction: column-reverse;
  }
  .post img {
    width: 265px;
    height: 397px;
    margin: auto;
  }
  .post .post__meta {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }
  .post .post__meta h2 {
    font-size: 46px;
    width: 100%;
  }
  .post-interesting .post-contact {
    flex-direction: column;
    width: 100%;
  }
  .post-interesting .prochain {
    display: none;
  }
  .post-loving {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-loving .other_post img {
    width: 317px;
    height: 280px;
    object-fit: cover;
    margin: auto;
    padding-bottom: 20px;
  }
  .post-loving .other_post_contact {
    display: none;
  }
}
#colophon {
  border-top: solid 2px #000000;
}
#colophon nav {
  display: flex;
  justify-content: center;
}
#colophon nav ul {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 620px;
}
#colophon nav ul li a {
  color: #000000;
  font-family: "space mono";
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width: 320px) and (max-width: 1200px) {
  #colophon ul {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=theme.css.map */
