#colophon{
    border-top: solid 2px #000000;
    nav{
        display: flex;
        justify-content: center;
        ul{
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 620px;
            li a{
                color: #000000;
                font-family:'space mono' ;
            }
        }
    
    }
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */

@media screen and (min-width:320px) and (max-width:1200px){
    #colophon{
        ul{
            flex-direction: column;
            align-items: center;
        }
    }
}

