#site-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    img{
        width: 216px;
        height: 14px;
    }
   
    .destkop{
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0;
            li a{
                color: #000000 !important;
                font-family: 'Space Mono';
                margin-right: 30px;
                text-transform: uppercase;
            }
        }

    }
   
    .mobile{
        display:none;
    }

    .menu-burger{
        display: none;
    }

    
    
    /* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */

@media screen and (min-width:320px) and (max-width:1200px){
    
   .destkop{
    display:none;
   }


   .menu-burger {
        display: block;
        cursor: pointer;
        img{
            width: initial;
        }
        .logo-close{
            display: none;
        }
    } 

    .mobile{
        position: absolute;
        top:100%;
        z-index: 1;
        background-color: #e00000;
        width: 100%;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin: 0;
            width:100%;
            height:600px;
            
            li a{
                color: #ffffff !important;
                font-family: 'Space Mono';
                font-size: 44px;
                text-transform: uppercase;
            }
        }
    }
        
    }
    
 }
