#site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    img{
        margin-left: 10%;
        width: 25%;
    }
   
    ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        li a{
            color: #000000 !important;
            font-family: 'Space Mono';
            margin-right: 30px;
        }
    }
}