
/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    .container{
        background-color: #ffffff;
        border:solid;
        flex-direction:column;
        align-items:center;
        width:600px;
        height: 769px;
        img{
            width: 100%;
            object-fit: cover;
            margin: 0;
        }
        form{
            width:263px;
            margin: auto;
            label{
                font-family: 'poppins';
                font-size:16px;
                font-weight:500;
            }
            input{
                border:solid 1px #b8bbc2;
                border-radius:10px;
            }
            p{
                margin: 20px 0;
            }
            & > p:nth-child(6) > input{
                width: 100%;
                background-color: #d8d8d8;
                color:#000000;
                font-family: 'space monospace';
                font-size:16px;
                border:none;
            }
            
        
        }
    }
}




