

#modaLightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Le dernier paramètre (0.7) détermine l'opacité du noir transparent. 1 = complètement opaque, 0 = complètement transparent */
    z-index: 9999; /* Utilisez un z-index élevé pour vous assurer que l'overlay est au-dessus de tout le contenu */
    .container-lightbox{
                width: 100%;
                height: 100%;        
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;
                .close_light{
                    display: flex;
                    width: 100%;
                    justify-content: end;
                    color: white;
                    margin: 50px;
                }    

                .post_light{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 50px;
                    .post-image-light img{
                       width: 564px;
                       height: 495px;
                       object-fit: cover;
                    }
                }
                .infos_light{
                    display: flex;
                    justify-content: space-between;
                    width: 564px;
                    color: #ffffff;
                    font-family:'space mono' ;
                    font-size: 14px;
                    text-transform: uppercase;
                    a{
                        color: #ffffff;
                        font-family:'space mono' ;
                        font-size: 14px;
                        text-transform: uppercase;

                    }
                }
            }
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width:320px) and (max-width:1100px){
    #modaLightbox{
        .container-lightbox{
            padding: 10px;
            .post_light{
                flex-direction: column;
                .post-image-light img{
                margin-top: 20px;
                margin-bottom: 20px;
                }
            }
            .infos_light{
                position: fixed;
                width: 350px;
                top: 82%;
            }
        
        }
    }
}
    