.post{
    display:flex;
    justify-content:space-evenly;

    img{
        width:40%;
        height:844px;
        object-fit:cover;

    }
    .post__meta{
        display:flex;
        flex-direction:column;
        justify-content:end;
        border-bottom: solid 2px;
        width:50%;
        padding-bottom: 2%;
        h2{
            font-family: 'Space Mono';
            text-transform: uppercase;
            font-weight:400;
            font-style: italic;
            font-size: 66px;
            line-height: 58px;
            margin:0;
        }
        h3{
            font-family: 'Space Mono';
            text-transform: uppercase;
            font-weight:400;
            font-style: italic;
            font-size: 14px;
            margin:10px 0;
            a{
                color:#000000 !important;
            }

        }
    }
}

.post-interesting{
    display:flex;
    margin:3%;
    .post-contact{
        display:flex;
        width:50%;
        justify-content:space-between;
        align-items: center;
        button{
            background-color:#d8d8d8;
            width:272px;
            height:50px;
            border-radius:2px;
            padding:8px 15px 8px 15px;
            gap:10px;
            color:#000000;
            font-family: 'Space Mono';
            font-weight:400;
            font-size: 12px;
            &:hover{
                text-decoration: none;
            }
        }
        #myModal_single_post{
            display: none; /* Hidden by default */
            justify-content: center;
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            padding-top: 100px;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
            .container_single_post{
                background-color: #ffffff;
                border:solid;
                flex-direction:column;
                align-items:center;
                width:600px;
                height: 769px;
                img{
                    width: 100%;
                    object-fit: cover;
                    margin: 0;
                }
                form{
                    width:263px;
                    margin: auto;
                    label{
                        font-family: 'poppins';
                        font-size:16px;
                        font-weight:500;
                    }
                    input{
                        border:solid 1px #b8bbc2;
                        border-radius:10px;
                    }
                    p{
                        margin: 20px 0;
                    }
                    & > p:nth-child(6) > input{
                        width: 100%;
                        background-color: #d8d8d8;
                        color:#000000;
                        font-family: 'space monospace';
                        font-size:16px;
                        border:none;
                    }
                    
                
                }
            }
        }
    
    }
    .prochain{
        width:50%;
        display:flex;
        justify-content:end;
        nav{
            position: relative;
            .nav-links{
                display: flex;
                flex-direction: column-reverse;
                img{
                    margin-top: 20px;
                }
                .nav-previous .prev{
                    position: absolute;
                    right: 12%;
                }
    
                .nav-previous .test{
                    position: absolute;
                    right: 12%;
                    bottom: 0;
                }
            }
    

        }
    }
    
}

.post-loving{
    margin:3%;
    border-top:solid 2px;
    h3{
        font-family: 'Space Mono';
        text-transform: uppercase;
        font-weight:400;
        font-size: 18px;
    }
    .other_post{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & img{
            width: 564px;
            height: 495px;
            object-fit: cover;
        }
    }
}

.other_post_contact{
    text-align:center;
    button{
        background-color:#d8d8d8;
        width:272px;
        height:50px;
        border-radius:2px;
        padding:8px 15px 8px 15px;
        gap:10px;
        color:#000000;
        font-family: 'Space Mono';
        font-weight:400;
        font-size: 12px;
        margin: 50px 0 70px 0 ; 
        &:hover{
            text-decoration: none;
        }    
    }
}


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */

@media screen and (min-width:320px) and (max-width:1200px){
   .post{
    flex-direction: column-reverse;
     img{
        width: 265px;
        height: 397px;
        margin: auto;
     }
     .post__meta{
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        h2{
            font-size: 46px;
            width: 100%;
        }
     }
   }

   .post-interesting{
    .post-contact{
        flex-direction: column;
        width: 100%;
    }
    .prochain{
        display: none;
    }
   }

   .post-loving{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .other_post{
        .lightbox{
            margin: 20px;
            post-image img{
                width: 317px;
                height: 280px;
                object-fit: cover;
                margin: auto;
            }
    
        }
    }
    .other_post_contact{
        display: none;
    }

   }
}

